[submodule "langmode/ruby/emacs-rails"]
	path = langmode/ruby/emacs-rails
	url = git://github.com/zellux/emacs-rails.git
[submodule "packages/tomorrow-theme"]
	path = packages/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "utils/themes/emacs-color-theme-solarized"]
	path = utils/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "utils/yasnippet"]
	path = utils/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "langmode/c/ecb-2.40"]
	path = langmode/c/ecb-2.40
	url = git://github.com/alexott/ecb.git
[submodule "utils/auto-complete"]
	path = utils/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "langmode/c/auto-complete-clang"]
	path = langmode/c/auto-complete-clang
	url = git://github.com/brianjcj/auto-complete-clang.git
[submodule "utils/popup"]
	path = utils/popup
	url = https://github.com/auto-complete/popup-el
[submodule "utils/muse"]
	path = utils/muse
	url = git://repo.or.cz/muse-el.git
[submodule "langmode/php-mode"]
	path = langmode/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "langmode/php/php-mode"]
	path = langmode/php/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "langmode/haskell/structured-haskell-mode"]
	path = langmode/haskell/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
[submodule "langmode/javascript/js2-mode"]
	path = langmode/javascript/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "utils/helm"]
	path = utils/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "utils/async"]
	path = utils/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "langmode/javascript/js3-mode"]
	path = langmode/javascript/js3-mode
	url = https://github.com/thomblake/js3-mode.git
[submodule "langmode/javascript/jsx-mode"]
	path = langmode/javascript/jsx-mode
	url = https://github.com/jsx/jsx-mode.el.git
[submodule "langmode/go/go-mode"]
	path = langmode/go/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "themes/color-theme-solarized"]
	path = themes/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
