[submodule "langmode/ruby/emacs-rails"]
	path = langmode/ruby/emacs-rails
	url = git@github.com:zellux/emacs-rails.git
[submodule "packages/tomorrow-theme"]
	path = packages/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "utils/themes/emacs-color-theme-solarized"]
	path = utils/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "utils/yasnippet"]
	path = utils/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "langmode/c/ecb-2.40"]
	path = langmode/c/ecb-2.40
	url = git://github.com/alexott/ecb.git
