.contents {
    clear: left;
    float: none;
/*    background-color: #D3D3D3;    /* light gray */
    border: 1px solid black;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    padding: 3px;
}

.contents dl {
/*    background-color: #F5F5F5;    /* white smoke */
    display: block;
    float: none;
    font-size: small;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.contents a {
    color: #000000;
}

.contents dt {
  clear: left;
  display: block;
  padding-right: 5px;
  padding-left: 5px;
  text-align: left;
}

.contents dd dt {
  display: list-item;
}

.contents a:hover { 
  background-color: #D3D3D3;    /* light gray */
}

/* Body */
body {
	margin: 0px 50px 50px 55px;
	padding-left: 40px;
	padding-right: 40px;
	background: #f9f9ee;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height: 1.8;
	background-image: url(../images/bg.gif);
	background-repeat: repeat-y;
}

/* Link */
a {
	font-weight: normal;
	color: #c00;
	text-decoration: none;
}
a:hover {
	color: #c00; 
	background: #ffe7e7;
	text-decoration: underline;
}

/* Heading */
h1{
    margin-top: 0px; 
    margin-left: -95px;
    margin-right: -90px;
    padding: 22px 0px 22px 60px;
    font-family: "Book Antiqua", "Palatino Linotype", Tahoma, Verdana;
    font-size: 35px;
    font-weight: bold;
    color: #004f37;
    background: #d9e7e2;
    border-bottom: #004f37 2px solid;
    line-height: 1;
}
h2 {
    margin-top: 20pt;
    margin-left: -35px;
    margin-right: 0px;
    padding: 6px 0px 3px 10px; 
    font-family: "Book Antiqua", "Palatino Linotype", Tahoma, Verdana;
    font-size: 20px;
    font-weight: bold;
    color: #005a9c;
    background: #c4d9ef; 
    border: #005a9c 1px solid; 
    border-left: #005a9c 6px solid; 
    line-height: 1;
}
h3 {
	margin-top: 15pt;
	margin-left: -25px;
	margin-right: 0px;
	padding: 6px 0px 3px 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #2b804c;
	background: #d9eae0;
	border: #2b804c 1px solid; 
	border-left: #2b804c 6px solid;
	line-height: 1;
}
h2:hover, h3:hover {
	border-style: dashed; 
}

/* Horizontal Line*/
hr {
	margin-left: -35px;
}

/* Contents */
div.mulu {
	margin-left: -35px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 35px;
	border-top: 1px dashed green;
	border-bottom: 1px dashed green;  
	background: transparent url("../images/menu_tr.gif");
}
h6.mulu {
	margin: 0px 0px -10px -35px;
	font-weight: bold;
	font-size: 14px;
	color: #46357c;
}

/* Image */
img.right {
	margin-top: 15px;
	margin-bottom: 5px;
	float: right;
	border: 0px;
}

/* Paragraph */
p {
	margin-left: 0px;
	margin-right: 0px;
}
p.quote {
	line-height: 1.6;
	color: #284d6a;
	border: #ccaa00 1px solid;
	padding: 0.5em 0em 0.5em 1em;
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	background-image: url(../images/prebak.gif);
}
pre {
	line-height: 2;
	color: #284d6a;
	border: #ccaa00 1px solid;
	padding: 0.5em 0em 0.5em 1em;
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	background-image: url(../images/prebak.gif);
}
pre.example {
	color: #3c5e08;
	border: #ccaa00 1px solid;
	padding: 0.5em 0.5em 0.5em 1em;
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Courier New", Courier, mono;
	font-size: 13px;
	background-image: url(../images/nice.gif);
}
pre.source {
	border: #ccaa00 1px solid;
	padding: 0.5em 0.5em 0.5em 1em;
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Courier New", Courier, mono;
	font-size: 13px;
	background-image: url(../images/nice.gif);
}

/* Menu */
.menu {
	background-color:#e0e9e9;
	float: right;
}
.menuitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 11px;	
}
.menuitem a {
	display: block;
	background-color: #edf2f2;
	color: #00008b;
	text-decoration: none;
	font-weight: bold;
	padding: 1px 10px 1px 10px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	border-right: 1px solid #ddd;
}
.menuitem a:hover {
	background-color: #e0e9e9;
	color: #c00;
	border-style: none;
	text-decoration: underline overline;
}

/* *?* **?** ***?*** _?_ */
em {
	color: #003399;
	font-style: oblique;
}
strong {
	color: black;
}
strong em {
	color: #000066;
}
u {
	text-decoration: none;
	font-style: oblique;
	color: #68228b;
}

/* List */
ul, ol {
	margin-left: 30px;
	margin-right: 0px;
	padding: 0px;
}
ul {
  list-style-image: url(../images/ul.gif);
}
ul ol{
  list-style-image: none;
}
ul ul {
  list-style-image: url(../images/ulul.gif);
}
ol ul {
  list-style-image: url(../images/olul.gif);
}

/* Table */
table {
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
}
th {
	border-top: buttonhighlight 0px solid; 
	border-bottom: buttonshadow 1px solid;
	border-left: buttonhighlight 0px solid; 
	border-right: buttonshadow 1px solid;
	padding-left: 10px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden; 
	font-size: 14px;
	vertical-align: baseline;
	background: #ffd112;
}
td {
	border: 1px solid #cccccc;
	padding-left: 10px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden; 
	font-size: 14px;
	vertical-align: baseline;
	background: #e0e0c0;
}

/* Footer */
.navfoot {
	margin-left: -35px;
}
.navfoot td{
	background: inherit;
	border: 0;
}
.footdate {
	font-size: 13px;
}
.foothome {
	font-size: 16px;
}
.footauthor {
	font-size: 14px;
}

/* Top Link*/
.toplink { 
	font-family:"Courier New", Courier, mono; 
	font-size: 13px;
	float: right;
	margin-right: 5px;
}
.toplink a { 
	text-decoration: none;
}
.toplink a:hover { 
	text-decoration: inherit;
}

/*{{{  Code highlighting */
pre.example {
  background: #f4f4f4;
  color: #navy;
  border: #73afb7 1px solid;
  padding: 0.5em 0.5em 0.5em 1em;
  margin-left: 0px;
  margin-right: 0px;
}

pre.src {
  background: #f4f4f4;
  color: #navy;
  border: #73afb7 1px solid;
  padding: 0.5em 0.5em 0.5em 1em;
  margin-left: 0px;
  margin-right: 0px;
}

span.comment {
  line-height: 1.6;
  color: #cd0000;
}

span.comment-delimiter {
  line-height: 1.6;
  color: #cd0000;
}

.comment {
  /* font-lock-comment-face */
  color: #cd0000;
  /* font-weight: bold; */
}

.function-name {
  /* font-lock-function-name-face */
  color: #0000ff;
  font-weight: bold;
}
.keyword {
  /* font-lock-keyword-face */
  color: #a020f0;
  font-weight: bold;
}
.preprocessor {
  /* font-lock-preprocessor-face */
  color: red;
  /* font-weight: bold; */
}
.string {
  /* font-lock-string-face */
  color: #bc8f8f;
    /* font-weight: bold; */
}
.type {
  /* font-lock-type-face */
  color: #000080;
}
.variable-name {
  /* font-lock-variable-name-face */
  color: #8b5a2b;
}

.doc {
  /* font-lock-comment-face */
  color: #f0a4a4;
    /* font-weight: bold; */
}

.cperl-array {
  /* cperl-array-face */
  color: #0000ff;
  font-weight: bold;
}
.cperl-nonoverridable {
  /* cperl-nonoverridable-face */
  color: #66cd00;
}
.makefile-shell {
  color: #5f9ea0;
}
.constant {
  /* font-lock-constant-face */
  color: #5f9ea0;
}
.makefile-targets {
  /* makefile-targets */
  color: #0000ff;
}

/*}}}*/

.tip {
    display: block;
    background-image: url("../images/web/tip.png");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    text-indent: 2em;
    margin: 0 5% 0 5%;
    padding: 10px;
    border: 1px solid #FFCC00;
    background-color: #FFFFF7;
}

