<!-- Page published by Emacs Muse ends here -->
<p>
<center>
最后更新：
<lisp>(format-time-string "%4Y-%2m-%2d %T" (nth 5 (file-attributes muse-publishing-current-file)))</lisp>
</center>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2241833-7");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>

